@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Hack';
  src: local('Hack'), url(./assets/fonts/Hack/Hack-Regular.ttf) format('truetype');
}

/* @font-face {
  font-family: 'Georgia';
} */

body {
  font-family: 'Georgia';
  margin: 0;
  background-color: #0e073d;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}